body {
	Margin: 0!important;
	padding: 15px;
	background-color: #FFF;
}
.outer-wrapper {
	width: 100%;
	table-layout: fixed;
}
.inner-wrapper {
	width: 100%;
	background-color: #eee;
	max-width: 670px;
	Margin: 0 auto;
}
table {
	border-spacing: 0;
	font-family: sans-serif;
	color: #727f80;
}
td {
    padding: 0;
}
.upper-table {
    width: 100%;
    max-width: 610px;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 6px;
}
.upper-row {
    width: 100%;
	background-color: #eee;
	max-width: 670px;
	Margin: 0 auto;
}

.social-media {
    float: right;
    Margin: 4% 5% 2% 0;
    height: auto;
    overflow: hidden;
}
.social {
    list-style-type: none;
    Margin-top: 1%;
    padding: 0;
}
.social li {
    display: inline-block;
}
.social li img {
    max-width: 15px;
    Margin-bottom: 0;
    padding-bottom: 0;
}
.image img {
    width: 100%;
    max-width: 670px;
    height: auto;
}
.logo-td {
    width: 200px;
}
/* <!--Upper-table-end--> */

.main-table {
    width: 100%;
    max-width: 610px;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 6px;
}

.main-row-1 {
    width: 100%;
	background-color: white;
	max-width: 670px;
	Margin: 0 auto;
}

.h2 {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    line-height: 45px;
    Margin: 12px;
    color: #4A4A4A;
}

.one-column .inner-td {
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}
.inner-td {
    padding: 10px;
}
td {
    padding: 0;
}
p.center {
    text-align: center;
    max-width: 580px;
    line-height: 24px;
}
.main-row {
    align-content: center;
    background-color: white;
    max-width: 670px;
}
.main-row-td {
    width: 280px;
    padding: 12px;
}
img.img-responsive {
    width: 100%;
    max-width: 280px;
    height: auto;
}
.image-text {
    text-align:  center;
    margin: 0 auto;
}
p.center-text {
    text-align: center;
    max-width: 580px;
    line-height: 24px;
}

.mid-table {
    text-align: center;
    font-size: 0;
    padding: 5px 0 10px 0;
}

.mid-table-row {
    align-content: center;
    background-color: gray;
    max-width: 670px;
}
td.content.img {
    max-width: 280px;
}
